In [36]:
import tabula
import pandas as pd
%pip install pulp
from pulp import *
lista_tabelas = tabula.read_pdf("Trabalho3-parte1.pdf",pages="1" ,guess=False,lattice=True) #ou "all"

Requirement already satisfied: pulp in c:\programdata\anaconda3\lib\site-packages (2.6.0)
Note: you may need to restart the kernel to use updated packages.

In [37]:
df_demanda = lista_tabelas[0]
df_capacidade = lista_tabelas[1]
df_custos = lista_tabelas[2]
df_resolucao = lista_tabelas[3]

In [38]:
display(df_demanda)
display(df_capacidade)
display(df_custos)
display(df_resolucao)

    Contratos  Demanda  Número Mínimo de Fornecedores
0  Washington      100                              3
1      Oregon       65                              2
2  California      100                              3
3       Idaho       70                              2
4      Nevada      120                              3
5     Montana       60                              2
6     Wyoming       75                              2
7     Arizona      100                              3
8        Utah       95                              3
9    Colorado       85                              3

         Filiais  Capacidade  Entrega Mínima
0        Seattle         175              25
1  San Francisco         175              30
2      Las Vegas         175              30
3        Phoenix         175              35
4         Denver         175              25

,Custo de Entrega (R$/unid.),Washington,Oregon,California,Idaho,Nevada,Unnamed: 0,Montana,Wyoming,Arizona,Utah,Colorado
0,Seattle,10,15,10,15,20,NaN,20,20,40,10,30
1,San Francisco,30,15,10,20,10,NaN,20,20,30,20,30
2,Las Vegas,20,10,5,15,10,NaN,15,15,10,5,5
3,Phoenix,40,25,15,20,10,NaN,30,30,10,15,10
4,Denver,30,30,25,10,5,NaN,35,35,15,5,10

,Distribuição (unid.),Washington,Oregon,California,Idaho,Nevada,Montana,Wyoming,Arizona,Utah,Colorado
0,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Las Vegas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Phoenix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Denver,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df_demanda = df_demanda.set_index("Contratos")
df_capacidade = df_capacidade.set_index("Filiais")
df_custos = df_custos.set_index("Custo de Entrega (R$/unid.)")
df_custos = df_custos.drop("Unnamed: 0", axis=1)#exclui a coluna repetida
df_resolucao = df_resolucao.set_index("Distribuição (unid.)")

In [40]:
display(df_demanda)
display(df_capacidade)
display(df_custos)
display(df_resolucao)

            Demanda  Número Mínimo de Fornecedores
Contratos
Washington      100                              3
Oregon           65                              2
California      100                              3
Idaho            70                              2
Nevada          120                              3
Montana          60                              2
Wyoming          75                              2
Arizona         100                              3
Utah             95                              3
Colorado         85                              3

               Capacidade  Entrega Mínima
Filiais
Seattle               175              25
San Francisco         175              30
Las Vegas             175              30
Phoenix               175              35
Denver                175              25

,Washington,Oregon,California,Idaho,Nevada,Montana,Wyoming,Arizona,Utah,Colorado
Custo de Entrega (R$/unid.),,,,,,,,,,
Seattle,10,15,10,15,20,20,20,40,10,30
San Francisco,30,15,10,20,10,20,20,30,20,30
Las Vegas,20,10,5,15,10,15,15,10,5,5
Phoenix,40,25,15,20,10,30,30,10,15,10
Denver,30,30,25,10,5,35,35,15,5,10

,Washington,Oregon,California,Idaho,Nevada,Montana,Wyoming,Arizona,Utah,Colorado
Distribuição (unid.),,,,,,,,,,
Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Las Vegas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phoenix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Denver,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
contratos = df_demanda.index
filiais = df_capacidade.index
# The cost data is made into a dictionary
costs = makeDict([filiais, contratos], df_custos.values, 0)

In [42]:
# Creates the 'prob' variable to contain the problem data
prob = LpProblem("OTIMIZAÇÃO DA DISTRIBUIÇÃO DE PRODUTOS", LpMinimize)
# Creates a list of tuples containing all the possible routes for transport
Routes = [(w, b) for w in filiais for b in contratos]
# A dictionary called 'Vars' is created to contain the referenced variables(the routes)
objective_vars = LpVariable.dicts("QTD_produtos", (filiais, contratos), 0, None, LpInteger)
# variáveis binárias, que indicam sem há ou não entrega
binary_vars = LpVariable.dicts("?Rota", (filiais, contratos), 0, None, LpInteger)
prob += (
    lpSum([objective_vars[w][b] * costs[w][b] for (w, b) in Routes]),
    "Custo_total_de_atendimento",
)

C:\ProgramData\Anaconda3\lib\site-packages\pulp\pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [43]:

for (f,c) in Routes: 
    prob += (binary_vars[f][c]<=1)# restrições para a binary_vars
for c in contratos:
    prob += (lpSum([binary_vars[f][c] for f in filiais]) >= df_demanda['Número Mínimo de Fornecedores'][c])
    # Restrições de demanda
    prob += (lpSum([objective_vars[f][c] for f in filiais]) == df_demanda['Demanda'][c])

for f in filiais:
    prob += (lpSum([objective_vars[f][c] for c in contratos]) <= df_capacidade['Capacidade'][f])
    for c in contratos:
        # Restrições para a capacidade de entrega
        prob += (objective_vars[f][c]<=df_capacidade['Capacidade'][f]*binary_vars[f][c])
        # Restrições para entrega mínima
        prob += (objective_vars[f][c]>=df_capacidade['Entrega Mínima'][f]*binary_vars[f][c])
    
print(prob)

OTIMIZAÇÃO_DA_DISTRIBUIÇÃO_DE_PRODUTOS:
MINIMIZE
15*QTD_produtos_Denver_Arizona + 25*QTD_produtos_Denver_California + 10*QTD_produtos_Denver_Colorado + 10*QTD_produtos_Denver_Idaho + 35*QTD_produtos_Denver_Montana + 5*QTD_produtos_Denver_Nevada + 30*QTD_produtos_Denver_Oregon + 5*QTD_produtos_Denver_Utah + 30*QTD_produtos_Denver_Washington + 35*QTD_produtos_Denver_Wyoming + 10*QTD_produtos_Las_Vegas_Arizona + 5*QTD_produtos_Las_Vegas_California + 5*QTD_produtos_Las_Vegas_Colorado + 15*QTD_produtos_Las_Vegas_Idaho + 15*QTD_produtos_Las_Vegas_Montana + 10*QTD_produtos_Las_Vegas_Nevada + 10*QTD_produtos_Las_Vegas_Oregon + 5*QTD_produtos_Las_Vegas_Utah + 20*QTD_produtos_Las_Vegas_Washington + 15*QTD_produtos_Las_Vegas_Wyoming + 10*QTD_produtos_Phoenix_Arizona + 15*QTD_produtos_Phoenix_California + 10*QTD_produtos_Phoenix_Colorado + 20*QTD_produtos_Phoenix_Idaho + 30*QTD_produtos_Phoenix_Montana + 10*QTD_produtos_Phoenix_Nevada + 25*QTD_produtos_Phoenix_Oregon + 15*QTD_produtos_Phoenix_Utah + 40*QTD_produtos_Phoenix_Washington + 30*QTD_produtos_Phoenix_Wyoming + 30*QTD_produtos_San_Francisco_Arizona + 10*QTD_produtos_San_Francisco_California + 30*QTD_produtos_San_Francisco_Colorado + 20*QTD_produtos_San_Francisco_Idaho + 20*QTD_produtos_San_Francisco_Montana + 10*QTD_produtos_San_Francisco_Nevada + 15*QTD_produtos_San_Francisco_Oregon + 20*QTD_produtos_San_Francisco_Utah + 30*QTD_produtos_San_Francisco_Washington + 20*QTD_produtos_San_Francisco_Wyoming + 40*QTD_produtos_Seattle_Arizona + 10*QTD_produtos_Seattle_California + 30*QTD_produtos_Seattle_Colorado + 15*QTD_produtos_Seattle_Idaho + 20*QTD_produtos_Seattle_Montana + 20*QTD_produtos_Seattle_Nevada + 15*QTD_produtos_Seattle_Oregon + 10*QTD_produtos_Seattle_Utah + 10*QTD_produtos_Seattle_Washington + 20*QTD_produtos_Seattle_Wyoming + 0
SUBJECT TO
_C1: ?Rota_Seattle_Washington <= 1

_C2: ?Rota_Seattle_Oregon <= 1

_C3: ?Rota_Seattle_California <= 1

_C4: ?Rota_Seattle_Idaho <= 1

_C5: ?Rota_Seattle_Nevada <= 1

_C6: ?Rota_Seattle_Montana <= 1

_C7: ?Rota_Seattle_Wyoming <= 1

_C8: ?Rota_Seattle_Arizona <= 1

_C9: ?Rota_Seattle_Utah <= 1

_C10: ?Rota_Seattle_Colorado <= 1

_C11: ?Rota_San_Francisco_Washington <= 1

_C12: ?Rota_San_Francisco_Oregon <= 1

_C13: ?Rota_San_Francisco_California <= 1

_C14: ?Rota_San_Francisco_Idaho <= 1

_C15: ?Rota_San_Francisco_Nevada <= 1

_C16: ?Rota_San_Francisco_Montana <= 1

_C17: ?Rota_San_Francisco_Wyoming <= 1

_C18: ?Rota_San_Francisco_Arizona <= 1

_C19: ?Rota_San_Francisco_Utah <= 1

_C20: ?Rota_San_Francisco_Colorado <= 1

_C21: ?Rota_Las_Vegas_Washington <= 1

_C22: ?Rota_Las_Vegas_Oregon <= 1

_C23: ?Rota_Las_Vegas_California <= 1

_C24: ?Rota_Las_Vegas_Idaho <= 1

_C25: ?Rota_Las_Vegas_Nevada <= 1

_C26: ?Rota_Las_Vegas_Montana <= 1

_C27: ?Rota_Las_Vegas_Wyoming <= 1

_C28: ?Rota_Las_Vegas_Arizona <= 1

_C29: ?Rota_Las_Vegas_Utah <= 1

_C30: ?Rota_Las_Vegas_Colorado <= 1

_C31: ?Rota_Phoenix_Washington <= 1

_C32: ?Rota_Phoenix_Oregon <= 1

_C33: ?Rota_Phoenix_California <= 1

_C34: ?Rota_Phoenix_Idaho <= 1

_C35: ?Rota_Phoenix_Nevada <= 1

_C36: ?Rota_Phoenix_Montana <= 1

_C37: ?Rota_Phoenix_Wyoming <= 1

_C38: ?Rota_Phoenix_Arizona <= 1

_C39: ?Rota_Phoenix_Utah <= 1

_C40: ?Rota_Phoenix_Colorado <= 1

_C41: ?Rota_Denver_Washington <= 1

_C42: ?Rota_Denver_Oregon <= 1

_C43: ?Rota_Denver_California <= 1

_C44: ?Rota_Denver_Idaho <= 1

_C45: ?Rota_Denver_Nevada <= 1

_C46: ?Rota_Denver_Montana <= 1

_C47: ?Rota_Denver_Wyoming <= 1

_C48: ?Rota_Denver_Arizona <= 1

_C49: ?Rota_Denver_Utah <= 1

_C50: ?Rota_Denver_Colorado <= 1

_C51: ?Rota_Denver_Washington + ?Rota_Las_Vegas_Washington
 + ?Rota_Phoenix_Washington + ?Rota_San_Francisco_Washington
 + ?Rota_Seattle_Washington >= 3

_C52: QTD_produtos_Denver_Washington + QTD_produtos_Las_Vegas_Washington
 + QTD_produtos_Phoenix_Washington + QTD_produtos_San_Francisco_Washington
 + QTD_produtos_Seattle_Washington = 100

_C53: ?Rota_Denver_Oregon + ?Rota_Las_Vegas_Oregon + ?Rota_Phoenix_Oregon
 + ?Rota_San_Francisco_Oregon + ?Rota_Seattle_Oregon >= 2

_C54: QTD_produtos_Denver_Oregon + QTD_produtos_Las_Vegas_Oregon
 + QTD_produtos_Phoenix_Oregon + QTD_produtos_San_Francisco_Oregon
 + QTD_produtos_Seattle_Oregon = 65

_C55: ?Rota_Denver_California + ?Rota_Las_Vegas_California
 + ?Rota_Phoenix_California + ?Rota_San_Francisco_California
 + ?Rota_Seattle_California >= 3

_C56: QTD_produtos_Denver_California + QTD_produtos_Las_Vegas_California
 + QTD_produtos_Phoenix_California + QTD_produtos_San_Francisco_California
 + QTD_produtos_Seattle_California = 100

_C57: ?Rota_Denver_Idaho + ?Rota_Las_Vegas_Idaho + ?Rota_Phoenix_Idaho
 + ?Rota_San_Francisco_Idaho + ?Rota_Seattle_Idaho >= 2

_C58: QTD_produtos_Denver_Idaho + QTD_produtos_Las_Vegas_Idaho
 + QTD_produtos_Phoenix_Idaho + QTD_produtos_San_Francisco_Idaho
 + QTD_produtos_Seattle_Idaho = 70

_C59: ?Rota_Denver_Nevada + ?Rota_Las_Vegas_Nevada + ?Rota_Phoenix_Nevada
 + ?Rota_San_Francisco_Nevada + ?Rota_Seattle_Nevada >= 3

_C60: QTD_produtos_Denver_Nevada + QTD_produtos_Las_Vegas_Nevada
 + QTD_produtos_Phoenix_Nevada + QTD_produtos_San_Francisco_Nevada
 + QTD_produtos_Seattle_Nevada = 120

_C61: ?Rota_Denver_Montana + ?Rota_Las_Vegas_Montana + ?Rota_Phoenix_Montana
 + ?Rota_San_Francisco_Montana + ?Rota_Seattle_Montana >= 2

_C62: QTD_produtos_Denver_Montana + QTD_produtos_Las_Vegas_Montana
 + QTD_produtos_Phoenix_Montana + QTD_produtos_San_Francisco_Montana
 + QTD_produtos_Seattle_Montana = 60

_C63: ?Rota_Denver_Wyoming + ?Rota_Las_Vegas_Wyoming + ?Rota_Phoenix_Wyoming
 + ?Rota_San_Francisco_Wyoming + ?Rota_Seattle_Wyoming >= 2

_C64: QTD_produtos_Denver_Wyoming + QTD_produtos_Las_Vegas_Wyoming
 + QTD_produtos_Phoenix_Wyoming + QTD_produtos_San_Francisco_Wyoming
 + QTD_produtos_Seattle_Wyoming = 75

_C65: ?Rota_Denver_Arizona + ?Rota_Las_Vegas_Arizona + ?Rota_Phoenix_Arizona
 + ?Rota_San_Francisco_Arizona + ?Rota_Seattle_Arizona >= 3

_C66: QTD_produtos_Denver_Arizona + QTD_produtos_Las_Vegas_Arizona
 + QTD_produtos_Phoenix_Arizona + QTD_produtos_San_Francisco_Arizona
 + QTD_produtos_Seattle_Arizona = 100

_C67: ?Rota_Denver_Utah + ?Rota_Las_Vegas_Utah + ?Rota_Phoenix_Utah
 + ?Rota_San_Francisco_Utah + ?Rota_Seattle_Utah >= 3

_C68: QTD_produtos_Denver_Utah + QTD_produtos_Las_Vegas_Utah
 + QTD_produtos_Phoenix_Utah + QTD_produtos_San_Francisco_Utah
 + QTD_produtos_Seattle_Utah = 95

_C69: ?Rota_Denver_Colorado + ?Rota_Las_Vegas_Colorado
 + ?Rota_Phoenix_Colorado + ?Rota_San_Francisco_Colorado
 + ?Rota_Seattle_Colorado >= 3

_C70: QTD_produtos_Denver_Colorado + QTD_produtos_Las_Vegas_Colorado
 + QTD_produtos_Phoenix_Colorado + QTD_produtos_San_Francisco_Colorado
 + QTD_produtos_Seattle_Colorado = 85

_C71: QTD_produtos_Seattle_Arizona + QTD_produtos_Seattle_California
 + QTD_produtos_Seattle_Colorado + QTD_produtos_Seattle_Idaho
 + QTD_produtos_Seattle_Montana + QTD_produtos_Seattle_Nevada
 + QTD_produtos_Seattle_Oregon + QTD_produtos_Seattle_Utah
 + QTD_produtos_Seattle_Washington + QTD_produtos_Seattle_Wyoming <= 175

_C72: - 175 ?Rota_Seattle_Washington + QTD_produtos_Seattle_Washington <= 0

_C73: - 25 ?Rota_Seattle_Washington + QTD_produtos_Seattle_Washington >= 0

_C74: - 175 ?Rota_Seattle_Oregon + QTD_produtos_Seattle_Oregon <= 0

_C75: - 25 ?Rota_Seattle_Oregon + QTD_produtos_Seattle_Oregon >= 0

_C76: - 175 ?Rota_Seattle_California + QTD_produtos_Seattle_California <= 0

_C77: - 25 ?Rota_Seattle_California + QTD_produtos_Seattle_California >= 0

_C78: - 175 ?Rota_Seattle_Idaho + QTD_produtos_Seattle_Idaho <= 0

_C79: - 25 ?Rota_Seattle_Idaho + QTD_produtos_Seattle_Idaho >= 0

_C80: - 175 ?Rota_Seattle_Nevada + QTD_produtos_Seattle_Nevada <= 0

_C81: - 25 ?Rota_Seattle_Nevada + QTD_produtos_Seattle_Nevada >= 0

_C82: - 175 ?Rota_Seattle_Montana + QTD_produtos_Seattle_Montana <= 0

_C83: - 25 ?Rota_Seattle_Montana + QTD_produtos_Seattle_Montana >= 0

_C84: - 175 ?Rota_Seattle_Wyoming + QTD_produtos_Seattle_Wyoming <= 0

_C85: - 25 ?Rota_Seattle_Wyoming + QTD_produtos_Seattle_Wyoming >= 0

_C86: - 175 ?Rota_Seattle_Arizona + QTD_produtos_Seattle_Arizona <= 0

_C87: - 25 ?Rota_Seattle_Arizona + QTD_produtos_Seattle_Arizona >= 0

_C88: - 175 ?Rota_Seattle_Utah + QTD_produtos_Seattle_Utah <= 0

_C89: - 25 ?Rota_Seattle_Utah + QTD_produtos_Seattle_Utah >= 0

_C90: - 175 ?Rota_Seattle_Colorado + QTD_produtos_Seattle_Colorado <= 0

_C91: - 25 ?Rota_Seattle_Colorado + QTD_produtos_Seattle_Colorado >= 0

_C92: QTD_produtos_San_Francisco_Arizona
 + QTD_produtos_San_Francisco_California + QTD_produtos_San_Francisco_Colorado
 + QTD_produtos_San_Francisco_Idaho + QTD_produtos_San_Francisco_Montana
 + QTD_produtos_San_Francisco_Nevada + QTD_produtos_San_Francisco_Oregon
 + QTD_produtos_San_Francisco_Utah + QTD_produtos_San_Francisco_Washington
 + QTD_produtos_San_Francisco_Wyoming <= 175

_C93: - 175 ?Rota_San_Francisco_Washington
 + QTD_produtos_San_Francisco_Washington <= 0

_C94: - 30 ?Rota_San_Francisco_Washington
 + QTD_produtos_San_Francisco_Washington >= 0

_C95: - 175 ?Rota_San_Francisco_Oregon + QTD_produtos_San_Francisco_Oregon
 <= 0

_C96: - 30 ?Rota_San_Francisco_Oregon + QTD_produtos_San_Francisco_Oregon >= 0

_C97: - 175 ?Rota_San_Francisco_California
 + QTD_produtos_San_Francisco_California <= 0

_C98: - 30 ?Rota_San_Francisco_California
 + QTD_produtos_San_Francisco_California >= 0

_C99: - 175 ?Rota_San_Francisco_Idaho + QTD_produtos_San_Francisco_Idaho <= 0

_C100: - 30 ?Rota_San_Francisco_Idaho + QTD_produtos_San_Francisco_Idaho >= 0

_C101: - 175 ?Rota_San_Francisco_Nevada + QTD_produtos_San_Francisco_Nevada
 <= 0

_C102: - 30 ?Rota_San_Francisco_Nevada + QTD_produtos_San_Francisco_Nevada
 >= 0

_C103: - 175 ?Rota_San_Francisco_Montana + QTD_produtos_San_Francisco_Montana
 <= 0

_C104: - 30 ?Rota_San_Francisco_Montana + QTD_produtos_San_Francisco_Montana
 >= 0

_C105: - 175 ?Rota_San_Francisco_Wyoming + QTD_produtos_San_Francisco_Wyoming
 <= 0

_C106: - 30 ?Rota_San_Francisco_Wyoming + QTD_produtos_San_Francisco_Wyoming
 >= 0

_C107: - 175 ?Rota_San_Francisco_Arizona + QTD_produtos_San_Francisco_Arizona
 <= 0

_C108: - 30 ?Rota_San_Francisco_Arizona + QTD_produtos_San_Francisco_Arizona
 >= 0

_C109: - 175 ?Rota_San_Francisco_Utah + QTD_produtos_San_Francisco_Utah <= 0

_C110: - 30 ?Rota_San_Francisco_Utah + QTD_produtos_San_Francisco_Utah >= 0

_C111: - 175 ?Rota_San_Francisco_Colorado
 + QTD_produtos_San_Francisco_Colorado <= 0

_C112: - 30 ?Rota_San_Francisco_Colorado + QTD_produtos_San_Francisco_Colorado
 >= 0

_C113: QTD_produtos_Las_Vegas_Arizona + QTD_produtos_Las_Vegas_California
 + QTD_produtos_Las_Vegas_Colorado + QTD_produtos_Las_Vegas_Idaho
 + QTD_produtos_Las_Vegas_Montana + QTD_produtos_Las_Vegas_Nevada
 + QTD_produtos_Las_Vegas_Oregon + QTD_produtos_Las_Vegas_Utah
 + QTD_produtos_Las_Vegas_Washington + QTD_produtos_Las_Vegas_Wyoming <= 175

_C114: - 175 ?Rota_Las_Vegas_Washington + QTD_produtos_Las_Vegas_Washington
 <= 0

_C115: - 30 ?Rota_Las_Vegas_Washington + QTD_produtos_Las_Vegas_Washington
 >= 0

_C116: - 175 ?Rota_Las_Vegas_Oregon + QTD_produtos_Las_Vegas_Oregon <= 0

_C117: - 30 ?Rota_Las_Vegas_Oregon + QTD_produtos_Las_Vegas_Oregon >= 0

_C118: - 175 ?Rota_Las_Vegas_California + QTD_produtos_Las_Vegas_California
 <= 0

_C119: - 30 ?Rota_Las_Vegas_California + QTD_produtos_Las_Vegas_California
 >= 0

_C120: - 175 ?Rota_Las_Vegas_Idaho + QTD_produtos_Las_Vegas_Idaho <= 0

_C121: - 30 ?Rota_Las_Vegas_Idaho + QTD_produtos_Las_Vegas_Idaho >= 0

_C122: - 175 ?Rota_Las_Vegas_Nevada + QTD_produtos_Las_Vegas_Nevada <= 0

_C123: - 30 ?Rota_Las_Vegas_Nevada + QTD_produtos_Las_Vegas_Nevada >= 0

_C124: - 175 ?Rota_Las_Vegas_Montana + QTD_produtos_Las_Vegas_Montana <= 0

_C125: - 30 ?Rota_Las_Vegas_Montana + QTD_produtos_Las_Vegas_Montana >= 0

_C126: - 175 ?Rota_Las_Vegas_Wyoming + QTD_produtos_Las_Vegas_Wyoming <= 0

_C127: - 30 ?Rota_Las_Vegas_Wyoming + QTD_produtos_Las_Vegas_Wyoming >= 0

_C128: - 175 ?Rota_Las_Vegas_Arizona + QTD_produtos_Las_Vegas_Arizona <= 0

_C129: - 30 ?Rota_Las_Vegas_Arizona + QTD_produtos_Las_Vegas_Arizona >= 0

_C130: - 175 ?Rota_Las_Vegas_Utah + QTD_produtos_Las_Vegas_Utah <= 0

_C131: - 30 ?Rota_Las_Vegas_Utah + QTD_produtos_Las_Vegas_Utah >= 0

_C132: - 175 ?Rota_Las_Vegas_Colorado + QTD_produtos_Las_Vegas_Colorado <= 0

_C133: - 30 ?Rota_Las_Vegas_Colorado + QTD_produtos_Las_Vegas_Colorado >= 0

_C134: QTD_produtos_Phoenix_Arizona + QTD_produtos_Phoenix_California
 + QTD_produtos_Phoenix_Colorado + QTD_produtos_Phoenix_Idaho
 + QTD_produtos_Phoenix_Montana + QTD_produtos_Phoenix_Nevada
 + QTD_produtos_Phoenix_Oregon + QTD_produtos_Phoenix_Utah
 + QTD_produtos_Phoenix_Washington + QTD_produtos_Phoenix_Wyoming <= 175

_C135: - 175 ?Rota_Phoenix_Washington + QTD_produtos_Phoenix_Washington <= 0

_C136: - 35 ?Rota_Phoenix_Washington + QTD_produtos_Phoenix_Washington >= 0

_C137: - 175 ?Rota_Phoenix_Oregon + QTD_produtos_Phoenix_Oregon <= 0

_C138: - 35 ?Rota_Phoenix_Oregon + QTD_produtos_Phoenix_Oregon >= 0

_C139: - 175 ?Rota_Phoenix_California + QTD_produtos_Phoenix_California <= 0

_C140: - 35 ?Rota_Phoenix_California + QTD_produtos_Phoenix_California >= 0

_C141: - 175 ?Rota_Phoenix_Idaho + QTD_produtos_Phoenix_Idaho <= 0

_C142: - 35 ?Rota_Phoenix_Idaho + QTD_produtos_Phoenix_Idaho >= 0

_C143: - 175 ?Rota_Phoenix_Nevada + QTD_produtos_Phoenix_Nevada <= 0

_C144: - 35 ?Rota_Phoenix_Nevada + QTD_produtos_Phoenix_Nevada >= 0

_C145: - 175 ?Rota_Phoenix_Montana + QTD_produtos_Phoenix_Montana <= 0

_C146: - 35 ?Rota_Phoenix_Montana + QTD_produtos_Phoenix_Montana >= 0

_C147: - 175 ?Rota_Phoenix_Wyoming + QTD_produtos_Phoenix_Wyoming <= 0

_C148: - 35 ?Rota_Phoenix_Wyoming + QTD_produtos_Phoenix_Wyoming >= 0

_C149: - 175 ?Rota_Phoenix_Arizona + QTD_produtos_Phoenix_Arizona <= 0

_C150: - 35 ?Rota_Phoenix_Arizona + QTD_produtos_Phoenix_Arizona >= 0

_C151: - 175 ?Rota_Phoenix_Utah + QTD_produtos_Phoenix_Utah <= 0

_C152: - 35 ?Rota_Phoenix_Utah + QTD_produtos_Phoenix_Utah >= 0

_C153: - 175 ?Rota_Phoenix_Colorado + QTD_produtos_Phoenix_Colorado <= 0

_C154: - 35 ?Rota_Phoenix_Colorado + QTD_produtos_Phoenix_Colorado >= 0

_C155: QTD_produtos_Denver_Arizona + QTD_produtos_Denver_California
 + QTD_produtos_Denver_Colorado + QTD_produtos_Denver_Idaho
 + QTD_produtos_Denver_Montana + QTD_produtos_Denver_Nevada
 + QTD_produtos_Denver_Oregon + QTD_produtos_Denver_Utah
 + QTD_produtos_Denver_Washington + QTD_produtos_Denver_Wyoming <= 175

_C156: - 175 ?Rota_Denver_Washington + QTD_produtos_Denver_Washington <= 0

_C157: - 25 ?Rota_Denver_Washington + QTD_produtos_Denver_Washington >= 0

_C158: - 175 ?Rota_Denver_Oregon + QTD_produtos_Denver_Oregon <= 0

_C159: - 25 ?Rota_Denver_Oregon + QTD_produtos_Denver_Oregon >= 0

_C160: - 175 ?Rota_Denver_California + QTD_produtos_Denver_California <= 0

_C161: - 25 ?Rota_Denver_California + QTD_produtos_Denver_California >= 0

_C162: - 175 ?Rota_Denver_Idaho + QTD_produtos_Denver_Idaho <= 0

_C163: - 25 ?Rota_Denver_Idaho + QTD_produtos_Denver_Idaho >= 0

_C164: - 175 ?Rota_Denver_Nevada + QTD_produtos_Denver_Nevada <= 0

_C165: - 25 ?Rota_Denver_Nevada + QTD_produtos_Denver_Nevada >= 0

_C166: - 175 ?Rota_Denver_Montana + QTD_produtos_Denver_Montana <= 0

_C167: - 25 ?Rota_Denver_Montana + QTD_produtos_Denver_Montana >= 0

_C168: - 175 ?Rota_Denver_Wyoming + QTD_produtos_Denver_Wyoming <= 0

_C169: - 25 ?Rota_Denver_Wyoming + QTD_produtos_Denver_Wyoming >= 0

_C170: - 175 ?Rota_Denver_Arizona + QTD_produtos_Denver_Arizona <= 0

_C171: - 25 ?Rota_Denver_Arizona + QTD_produtos_Denver_Arizona >= 0

_C172: - 175 ?Rota_Denver_Utah + QTD_produtos_Denver_Utah <= 0

_C173: - 25 ?Rota_Denver_Utah + QTD_produtos_Denver_Utah >= 0

_C174: - 175 ?Rota_Denver_Colorado + QTD_produtos_Denver_Colorado <= 0

_C175: - 25 ?Rota_Denver_Colorado + QTD_produtos_Denver_Colorado >= 0

VARIABLES
0 <= ?Rota_Denver_Arizona Integer
0 <= ?Rota_Denver_California Integer
0 <= ?Rota_Denver_Colorado Integer
0 <= ?Rota_Denver_Idaho Integer
0 <= ?Rota_Denver_Montana Integer
0 <= ?Rota_Denver_Nevada Integer
0 <= ?Rota_Denver_Oregon Integer
0 <= ?Rota_Denver_Utah Integer
0 <= ?Rota_Denver_Washington Integer
0 <= ?Rota_Denver_Wyoming Integer
0 <= ?Rota_Las_Vegas_Arizona Integer
0 <= ?Rota_Las_Vegas_California Integer
0 <= ?Rota_Las_Vegas_Colorado Integer
0 <= ?Rota_Las_Vegas_Idaho Integer
0 <= ?Rota_Las_Vegas_Montana Integer
0 <= ?Rota_Las_Vegas_Nevada Integer
0 <= ?Rota_Las_Vegas_Oregon Integer
0 <= ?Rota_Las_Vegas_Utah Integer
0 <= ?Rota_Las_Vegas_Washington Integer
0 <= ?Rota_Las_Vegas_Wyoming Integer
0 <= ?Rota_Phoenix_Arizona Integer
0 <= ?Rota_Phoenix_California Integer
0 <= ?Rota_Phoenix_Colorado Integer
0 <= ?Rota_Phoenix_Idaho Integer
0 <= ?Rota_Phoenix_Montana Integer
0 <= ?Rota_Phoenix_Nevada Integer
0 <= ?Rota_Phoenix_Oregon Integer
0 <= ?Rota_Phoenix_Utah Integer
0 <= ?Rota_Phoenix_Washington Integer
0 <= ?Rota_Phoenix_Wyoming Integer
0 <= ?Rota_San_Francisco_Arizona Integer
0 <= ?Rota_San_Francisco_California Integer
0 <= ?Rota_San_Francisco_Colorado Integer
0 <= ?Rota_San_Francisco_Idaho Integer
0 <= ?Rota_San_Francisco_Montana Integer
0 <= ?Rota_San_Francisco_Nevada Integer
0 <= ?Rota_San_Francisco_Oregon Integer
0 <= ?Rota_San_Francisco_Utah Integer
0 <= ?Rota_San_Francisco_Washington Integer
0 <= ?Rota_San_Francisco_Wyoming Integer
0 <= ?Rota_Seattle_Arizona Integer
0 <= ?Rota_Seattle_California Integer
0 <= ?Rota_Seattle_Colorado Integer
0 <= ?Rota_Seattle_Idaho Integer
0 <= ?Rota_Seattle_Montana Integer
0 <= ?Rota_Seattle_Nevada Integer
0 <= ?Rota_Seattle_Oregon Integer
0 <= ?Rota_Seattle_Utah Integer
0 <= ?Rota_Seattle_Washington Integer
0 <= ?Rota_Seattle_Wyoming Integer
0 <= QTD_produtos_Denver_Arizona Integer
0 <= QTD_produtos_Denver_California Integer
0 <= QTD_produtos_Denver_Colorado Integer
0 <= QTD_produtos_Denver_Idaho Integer
0 <= QTD_produtos_Denver_Montana Integer
0 <= QTD_produtos_Denver_Nevada Integer
0 <= QTD_produtos_Denver_Oregon Integer
0 <= QTD_produtos_Denver_Utah Integer
0 <= QTD_produtos_Denver_Washington Integer
0 <= QTD_produtos_Denver_Wyoming Integer
0 <= QTD_produtos_Las_Vegas_Arizona Integer
0 <= QTD_produtos_Las_Vegas_California Integer
0 <= QTD_produtos_Las_Vegas_Colorado Integer
0 <= QTD_produtos_Las_Vegas_Idaho Integer
0 <= QTD_produtos_Las_Vegas_Montana Integer
0 <= QTD_produtos_Las_Vegas_Nevada Integer
0 <= QTD_produtos_Las_Vegas_Oregon Integer
0 <= QTD_produtos_Las_Vegas_Utah Integer
0 <= QTD_produtos_Las_Vegas_Washington Integer
0 <= QTD_produtos_Las_Vegas_Wyoming Integer
0 <= QTD_produtos_Phoenix_Arizona Integer
0 <= QTD_produtos_Phoenix_California Integer
0 <= QTD_produtos_Phoenix_Colorado Integer
0 <= QTD_produtos_Phoenix_Idaho Integer
0 <= QTD_produtos_Phoenix_Montana Integer
0 <= QTD_produtos_Phoenix_Nevada Integer
0 <= QTD_produtos_Phoenix_Oregon Integer
0 <= QTD_produtos_Phoenix_Utah Integer
0 <= QTD_produtos_Phoenix_Washington Integer
0 <= QTD_produtos_Phoenix_Wyoming Integer
0 <= QTD_produtos_San_Francisco_Arizona Integer
0 <= QTD_produtos_San_Francisco_California Integer
0 <= QTD_produtos_San_Francisco_Colorado Integer
0 <= QTD_produtos_San_Francisco_Idaho Integer
0 <= QTD_produtos_San_Francisco_Montana Integer
0 <= QTD_produtos_San_Francisco_Nevada Integer
0 <= QTD_produtos_San_Francisco_Oregon Integer
0 <= QTD_produtos_San_Francisco_Utah Integer
0 <= QTD_produtos_San_Francisco_Washington Integer
0 <= QTD_produtos_San_Francisco_Wyoming Integer
0 <= QTD_produtos_Seattle_Arizona Integer
0 <= QTD_produtos_Seattle_California Integer
0 <= QTD_produtos_Seattle_Colorado Integer
0 <= QTD_produtos_Seattle_Idaho Integer
0 <= QTD_produtos_Seattle_Montana Integer
0 <= QTD_produtos_Seattle_Nevada Integer
0 <= QTD_produtos_Seattle_Oregon Integer
0 <= QTD_produtos_Seattle_Utah Integer
0 <= QTD_produtos_Seattle_Washington Integer
0 <= QTD_produtos_Seattle_Wyoming Integer

In [44]:
prob.solve()

# The status of the solution is printed to the screen
print("Status:", LpStatus[prob.status])

# Each of the variables is printed with it's resolved optimum value
for v in prob.variables():
    print(v.name, "=", v.varValue)
    string_var = str(v.name)
    list_var = string_var.split("_")
    if list_var[0] == "QTD":
        filial = list_var[2]
        contrato = list_var[3]
        if filial == 'San':
            filial = 'San Francisco'
            contrato = list_var[4]
        if filial == 'Las':
            filial = 'Las Vegas'
            contrato = list_var[4]
        df_resolucao[contrato][filial]=v.varValue
    

# The optimised objective function value is printed to the screen
print("Total Cost of Transportation = ", value(prob.objective))

Status: Optimal
?Rota_Denver_Arizona = 1.0
?Rota_Denver_California = 0.0
?Rota_Denver_Colorado = 1.0
?Rota_Denver_Idaho = 1.0
?Rota_Denver_Montana = 0.0
?Rota_Denver_Nevada = 1.0
?Rota_Denver_Oregon = 0.0
?Rota_Denver_Utah = 1.0
?Rota_Denver_Washington = 1.0
?Rota_Denver_Wyoming = 0.0
?Rota_Las_Vegas_Arizona = 1.0
?Rota_Las_Vegas_California = 1.0
?Rota_Las_Vegas_Colorado = 0.0
?Rota_Las_Vegas_Idaho = 0.0
?Rota_Las_Vegas_Montana = 0.0
?Rota_Las_Vegas_Nevada = 0.0
?Rota_Las_Vegas_Oregon = 1.0
?Rota_Las_Vegas_Utah = 1.0
?Rota_Las_Vegas_Washington = 1.0
?Rota_Las_Vegas_Wyoming = 0.0
?Rota_Phoenix_Arizona = 1.0
?Rota_Phoenix_California = 0.0
?Rota_Phoenix_Colorado = 1.0
?Rota_Phoenix_Idaho = 1.0
?Rota_Phoenix_Montana = 0.0
?Rota_Phoenix_Nevada = 1.0
?Rota_Phoenix_Oregon = 0.0
?Rota_Phoenix_Utah = 0.0
?Rota_Phoenix_Washington = 0.0
?Rota_Phoenix_Wyoming = 0.0
?Rota_San_Francisco_Arizona = 0.0
?Rota_San_Francisco_California = 1.0
?Rota_San_Francisco_Colorado = 0.0
?Rota_San_Francisco_Idaho = 0.0
?Rota_San_Francisco_Montana = 1.0
?Rota_San_Francisco_Nevada = 1.0
?Rota_San_Francisco_Oregon = 1.0
?Rota_San_Francisco_Utah = 0.0
?Rota_San_Francisco_Washington = 0.0
?Rota_San_Francisco_Wyoming = 1.0
?Rota_Seattle_Arizona = 0.0
?Rota_Seattle_California = 1.0
?Rota_Seattle_Colorado = 1.0
?Rota_Seattle_Idaho = 0.0
?Rota_Seattle_Montana = 1.0
?Rota_Seattle_Nevada = 0.0
?Rota_Seattle_Oregon = 0.0
?Rota_Seattle_Utah = 1.0
?Rota_Seattle_Washington = 1.0
?Rota_Seattle_Wyoming = 1.0
QTD_produtos_Denver_Arizona = 25.0
QTD_produtos_Denver_California = 0.0
QTD_produtos_Denver_Colorado = 25.0
QTD_produtos_Denver_Idaho = 35.0
QTD_produtos_Denver_Montana = 0.0
QTD_produtos_Denver_Nevada = 35.0
QTD_produtos_Denver_Oregon = 0.0
QTD_produtos_Denver_Utah = 30.0
QTD_produtos_Denver_Washington = 25.0
QTD_produtos_Denver_Wyoming = 0.0
QTD_produtos_Las_Vegas_Arizona = 30.0
QTD_produtos_Las_Vegas_California = 45.0
QTD_produtos_Las_Vegas_Colorado = 0.0
QTD_produtos_Las_Vegas_Idaho = 0.0
QTD_produtos_Las_Vegas_Montana = 0.0
QTD_produtos_Las_Vegas_Nevada = 0.0
QTD_produtos_Las_Vegas_Oregon = 30.0
QTD_produtos_Las_Vegas_Utah = 40.0
QTD_produtos_Las_Vegas_Washington = 30.0
QTD_produtos_Las_Vegas_Wyoming = 0.0
QTD_produtos_Phoenix_Arizona = 45.0
QTD_produtos_Phoenix_California = 0.0
QTD_produtos_Phoenix_Colorado = 35.0
QTD_produtos_Phoenix_Idaho = 35.0
QTD_produtos_Phoenix_Montana = 0.0
QTD_produtos_Phoenix_Nevada = 55.0
QTD_produtos_Phoenix_Oregon = 0.0
QTD_produtos_Phoenix_Utah = 0.0
QTD_produtos_Phoenix_Washington = 0.0
QTD_produtos_Phoenix_Wyoming = 0.0
QTD_produtos_San_Francisco_Arizona = 0.0
QTD_produtos_San_Francisco_California = 30.0
QTD_produtos_San_Francisco_Colorado = 0.0
QTD_produtos_San_Francisco_Idaho = 0.0
QTD_produtos_San_Francisco_Montana = 30.0
QTD_produtos_San_Francisco_Nevada = 30.0
QTD_produtos_San_Francisco_Oregon = 35.0
QTD_produtos_San_Francisco_Utah = 0.0
QTD_produtos_San_Francisco_Washington = 0.0
QTD_produtos_San_Francisco_Wyoming = 50.0
QTD_produtos_Seattle_Arizona = 0.0
QTD_produtos_Seattle_California = 25.0
QTD_produtos_Seattle_Colorado = 25.0
QTD_produtos_Seattle_Idaho = 0.0
QTD_produtos_Seattle_Montana = 30.0
QTD_produtos_Seattle_Nevada = 0.0
QTD_produtos_Seattle_Oregon = 0.0
QTD_produtos_Seattle_Utah = 25.0
QTD_produtos_Seattle_Washington = 45.0
QTD_produtos_Seattle_Wyoming = 25.0
Total Cost of Transportation =  11250.0

In [47]:
display(df_resolucao)

,Washington,Oregon,California,Idaho,Nevada,Montana,Wyoming,Arizona,Utah,Colorado
Distribuição (unid.),,,,,,,,,,
Seattle,45.0,0.0,25.0,0.0,0.0,30.0,25.0,0.0,25.0,25.0
San Francisco,0.0,35.0,30.0,0.0,30.0,30.0,50.0,0.0,0.0,0.0
Las Vegas,30.0,30.0,45.0,0.0,0.0,0.0,0.0,30.0,40.0,0.0
Phoenix,0.0,0.0,0.0,35.0,55.0,0.0,0.0,45.0,0.0,35.0
Denver,25.0,0.0,0.0,35.0,35.0,0.0,0.0,25.0,30.0,25.0